*    {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}
body    {
    padding: 0 10%;
    background-color: #000000;
}
header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    background-color:  #1f2937;
    padding: 10px 10px 10px 20px;
}
.logo   {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}
.menu-button:link , .menu-button:visited    {
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
    word-break: keep-all;

}
.menu-button:hover  {
    background-color:  #3882f6;
}
.menu-button:active  {
    background-color:  #f9faf8;
}
.right-menu {
    display: flex;
    justify-content: center;
} /*Header Finish Here*/ /*Section 1 Start here*/ /*Header Finish Here*/ /*Section 1 Start here*/
.section-1  {
    padding: 0 10px;
    min-height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:  #1f2937;
}
.section-1-left-container   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    min-width: 30%;

}

.section-1-left-container > h1  {
    color: #f9faf8;
    font-size: 48px;
}
.section-1-left-container > a  {
    color: #f9faf8;
    padding: 10px 5px;
    background-color: #3882f6;
    width: 160px;
    text-align: center;
    font-size: 18px;
}
.section-1-left-container > p   {
    color: #e5e7eb;
    font-size: 18px;
}
.section-1-right-image  {
    overflow: hidden;
    padding: 10px 10px 20px 10px;
} /*Section 1 Finish Here *//* Section 2 Start Here*/ /*Section 1 Finish Here *//* Section 2 Start Here*/
.section-2  {
    background-color: #f9faf8;
    color: #1f2937;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    padding: 28px 0;
}
.section-2-h2   {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 18px 0 ;
}
.section-2-image-big-container  {
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.image-container    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    text-align: center;
}
.image-container > img  {
    width: 200px;
    height: 200px;
}
.image-container > p    {
    width: 200px;
}/*Section 2 Finish Here // Section 3 Start Here*/ /*Section 2 Finish Here // Section 3 Start Here*/
.section-3  {
    background-color:#e5e7eb;
    color: #1f2937;
    padding: 28px 20px;
}
.section-3-container    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    align-items: center;
}
.section-3-quote {
    font-size: 24px;
}
.section-3-cite {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 120px;
}/*Section 3 Finish Here // Section 4 Start Here*/ /*Section 3 Finish Here // Section 4 Start Here*/
.section-4  {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    padding: 0px 15px;
}
.section-4-blue-container   {
    background-color: #3882f6;
    max-width: 90%;
    color:#f9faf8;
    border-radius: 10px;
    min-height: 102px;
    padding: 18px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-4-blue-container-left-side {

}
.section-4-blue-container-title {
    font-size: 24px;
    font-weight: bold;
}
.section-4-blue-container-p     {
    font-weight: 18px;
    max-width: 70%;
}
.section-4-blue-container-contact-button    {
    padding: 6px 14px;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
}/*Section 4 Finish Here // Section 5 Start Here*/ /*Section 4 Finish Here // Footer Start Here*/
